@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: serif;
  --font-body: sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-heading);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  font-family: var(--font-body);
}

h1 {
  font-family: var(--font-heading);
  letter-spacing: -0.02em;
}
h2, h3, h4, h5 {
  font-family: var(--font-body);
  letter-spacing: -0.02em;
}
